<%= stylesheet_link_tag "user_list"%>
<p style="color: green"><%= notice %></p>

<div class="container">
<h1>Recipes</h1>

<div class= "add-recipe"><%= link_to "New Recipe", new_recipe_path %> </div>
<% if @recipes.length > 0 %>
<div class = "recipe-container">
<% @recipes.each do |recipe|%>
<div class = "recipe-item">
  <div class = "recipe">
    <div class = "recipe-name">
      <%= recipe.name%>
    </div>
    <div class = "recipe-description">
      <%= recipe.description%>
    </div>
   </div>
    <div class = "recipe-action">
      <%= button_to "Remove", recipe, method: :delete, class: "delete-btn"%>
    </div>
    </div>

<% end %>
</div>
	
<% else %>
  <div class ="empty-msg">
	<h2>There are no foods</h2>
  </div>
<% end %>
</div>

