<p style="color: green"><%= notice %></p>

<h1>Public Recipes</h1>

<% if @publics.length > 0 %>
<div class = "recipe-container">
<% @publics.each do |p|%>
<div class = "recipe-item">
  <div class = "recipe">
    <div class = "recipe-name">
      <%= p.name%>
    </div>
    <div class = "recipe-description">
      <%= p.description%>
    </div>

    <div class= "total-items">
      <div class = "recipe-ingredients">
        <strong>Total Food Items: </strong>
        <%= 1212121212%>
      </div>
    </div>
   </div>
   <div class = "wrapped-btns">
   <div class = "recipe-action">
   <strong class="owner-name">By:  </strong>
      <%= p.user.name%>
    </div>

    <div class = "recipe-action">
      <%= button_to "Remove", p, method: :delete, class: "delete-btn"%>
    </div>

    <div class ="recipe-action">
      <%= link_to "Details ", recipe_path(p)%>
    </div>
    </div>
    </div>

<% end %>
</div>
	
<% else %>
  <div class ="empty-msg">
	<h2>There are no Public Recipes</h2>
  </div>
<% end %>
