<p style="color: green"><%= notice %></p>

<h1>general shopping list</h1>

<div id="recipe_foods">
  <table>
    <thead>
      <tr>
        <th>recipe</th>
        <th>ingredient</th>
        <th>units needeed</th>
        <th>cost per unit</th>
        <th>sub total</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <% recipe.need_to_buy_ingredients.each do |ingredient| %>
          <tr>
            <td><%= recipe.name %></td>
            <td><%= ingredient.food.name %></td>
            <td><%= ingredient.need_to_buy %></td>
            <td><%= ingredient.food.price %></td>
            <td><%= number_to_currency(ingredient.cost_of_need_to_buy) %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>total: </td>
        <td><%= number_to_currency(@total_cost) %></td>
      </tr>
    </tbody>
  </table>
</div>
